@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Lato', sans-serif;
}
/* .outer-box{
    width: 100dvw;
    height: 100vh;
    background: linear-gradient(to top left,#3ed8ff,#a8f5ff
    )
} */

.outer-box{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left,red,blue);
    display: flex;
}
.image{
    size: 300px;
}
.inner-box{

    width: 30vw;
    height: 60vh;
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    padding: 20px 20px;
    background-color: azure;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #2773a5;
    z-index: 2;

}
.signup-header h1{
    font-size: 2.5rem;
    color: #212121;
    text-align: center;
    padding-top: 40px;
}
.signup-header p{
font-size: 0.8rem;
color: black;
}
.signup-body{
    margin: 10px 0;
}
.signup-body p label{
    display: block;
}
.signup-body p input{
    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 4px;

}
.signup-body p input[type="submit"]{
    background-color: #3498db;
    border: none;
    color: white;
    cursor: pointer;
}
.signup-body p input[type="submit"]:hover{
    background-color: #2773a5;
}

.signup-footer p {
    color: #555;
    text-align: center;
}
.signup-footer p a{
    color: ;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to top right , #ffffffaa,#ffffffff);
    position: absolute;
}
.c1{
    top: 100px;
    left: 40px;
}
.c2{
    bottom: 100px;
    right: 40px;
} 
 